<%- include('partials/header') %>

<div class=" text-center">
  <div class="container centered">
    <i class="fas fa-key fa-7x"></i>
    <h1 class="display-3">Secrets!</h1>
    <% secrets.forEach(user => {%>
    <p class="secret-text">
      <%= user.secret %>
    </p>
    <%}) %>
    <hr>
    <a class="btn btn-light btn-lg" href="/" role="button">Home</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>
<a class="logout" href="/auth/logout"><i class="fas fa-sign-out-alt"></i></a>
<%- include('partials/footer') %>